%div.col-md-10.col-md-offset-2
  %div.row
    %col-md-12.col-md-offset-0.col-sm-11.col-sm-offset-1.col-xs-10.col-xs-offset-2
      %h5.page-header Login
      - flash.each do |key, value|
        - if key == 'alert'
          %div.alert.alert-danger
            = value
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        %div.col-md-12
          %div.form-group
            %label Username
            = f.email_field :email, autofocus: true, class: 'form-control', :placeholder => 'Enter email address'
        %div.col-md-12
          %div.form-group
            %label Password
            = f.password_field :password, autocomplete: "off", class: 'form-control', :placeholder => "Password"
        %div.col-md-12
          = f.submit "Login", class: 'btn btn-inverse'
